Options -Indexes
<FilesMatch "^\.md|.xml|.json">
    Require all denied
</FilesMatch>
<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteBase /tornadohttpskeletonapplication/public/
    RewriteCond $1 !^(index\.php|css|font|img|js|robots\.txt)
    RewriteRule ^(.*)$ index.php?/$1 [L]
</IfModule>